@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 4cc9f0
 */
:root {
  --main-color-light: rgba(27, 41, 67, 0.9);
  --active-color: rgb(30, 36, 44);
  --active-color-light: rgba(30, 36, 44, 0.5);
  --font-color: #fff;
  --font-color2: #000;
}

body {
  font-family: 'IBM Plex Sans Arabic', serif;
  /* background-image: url(./islamic-xptqk5xw6adpezzv.jpg); */
  background-image: url(./photo-1570206916435-745fc43bb9c1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

body::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

main {
  position: relative;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.nav {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0, 10, 20, 0.7);
  z-index: 9999;
  display: flex;
  /* align-items: center; */
  display: none;
}

.bars-icon {
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: fixed;
  right: 30px;
  top: 30px;
  /* background-color: red; */
  transition: 0.6s ease;
}

.bars-icon span {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  transition: 0.3s ease;
  left: 0;
}

.bars-icon span:nth-child(1) {
  top: 0px;
  /* transform: rotate(45deg); */
}

.bars-icon span:nth-child(2) {
  /* opacity: 0; */
  top: 8px;
}

.bars-icon span:nth-child(3) {
  /* transform: rotate(-45deg); */
  top: 16px;
}

.bars-icon:hover {
  /* transform: rotate(180deg); */
  & span {
    background-color: green;
  }

  & span:nth-child(1) {
    /* transform: rotate(45deg); */
    top: 8px;
    /* padding: 15px; */
  }

  & span:nth-child(2) {
    opacity: 0;
    /* top: 36px;
    padding: 2px;
    background-color: #fff; */
  }

  & span:nth-child(3) {
    /* transform: rotate(-45deg); */
    top: 8px;
    /* padding: 3px; */
    /* background-color: #fff; */
  }
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
  padding: 10px;
  transition: 0.3s;
  background-color: transparent;
  outline: none;
  font-size: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 999px;
}

.close-btn:hover {
  color: #f44336;
  border-color: #f44336;
}

.nav__links {
  list-style: none;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: red; */
}

.nav__link {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 42px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.nav__link:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav__link a {
  color: #fff;
  text-decoration: none;
}

/* date */
.date {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: #fff;
  direction: rtl;
  font-size: 32px;
  letter-spacing: 2px;
  text-align: center;
}

/* tabs */
.tabs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background-color: var(--main-color-light);
  padding: 10px 20px 0;
  color: var(--font-color);
  overflow: hidden;
}

.tabs li {
  padding: 10px;
  cursor: pointer;
  transition: 0.6s;
  flex-grow: 1;
  text-align: center;
}

.tabs li.active,
.tabs li:hover {
  background-color: #222;
  transform: skew(-12deg) scale(1.1);
  color: var(--font-color);
}

/* .tabs li.active { */
/* transform: skew(-12deg) scale(1.1,1) translateY(-200%); */
/* flex-basis: 100%; */
/* order: 1; */
/* } */

/* content */
.content {
  background-color: var(--active-color-light);
  width: 800px;
  max-width: 100%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: relative;
}

.content > div {
  padding: 20px;
  user-select: none;
  line-height: 2;
  border-bottom: 5px solid var(--main-color-light);
  color: var(--font-color);
  font-size: 20px;
}

.content > div:not(:first-child) {
  display: none;
}

.progress {
  width: 0;
  height: 5px;
  background-color: rgba(0, 255, 0, 0.3);
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.no {
  display: block;
  color: var(--font-color);
  font-size: 14px;
  transition: 0.6s;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  flex-direction: column;
  gap: 10px;
}

.count {
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 999px;
  color: var(--font-color);
  font-weight: bold;
  font-size: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

button {
  outline: none;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: var(--main-color-light);
  color: #fff;
  cursor: pointer;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.reset {
  background-color: var(--active-color);
  color: var(--font-color);
}

.free {
  background-color: red;
  transition: 0.6s;
}

footer {
  color: #fff;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 12px;
  text-align: center;
  user-select: none;
}

@media screen and (max-width: 1000px) {
  .nav__link {
    font-size: 32px;
  }
}

@media screen and (max-width: 815px) {
  main {
    padding: 15px;
    padding-right: 15px;
  }

  .nav__links {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav__link {
    font-size: 32px;
  }
}

@media screen and (max-width: 700px) {
  .nav__links {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .tabs li.active {
    transform: skew(-12deg) scale(1.1);
  }

  .content > div {
    font-size: 16px;
  }

  .no {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .nav__link {
    font-size: 24px;
  }

  .close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    padding: 10px;
    transition: 0.3s;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
  }
}
